<h1>Three Ingredient Recipes</h1>

<h3>Don't have much in your fridge?  Don't fret!  Follow these quick and easy recipes that will get you an awesome dish without needing a million different ingredients.  Select below to see what recipes we have stored away, or feel free to add one of your own if you wish!</h3>

<h4>Add Recipe</h4>
<a class="btn btn-primary" href="/recipes/add">Go Add Recipe</a>

<h4><a href="/recipes">Recipes</a></h4>
